/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:regular,600,700&display=swap);

body {
    font-family: 'Bai Jamjuree';
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.main {
    flex: 1 1 auto;
}

table,
th,
td {
    border: 1px solid;
    text-align: center;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper {}

.homework-page {}

.homework-page__label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.homework-page__title {
    letter-spacing: 3px;
    font-weight: 400;
}

.homework-page__go-away {
    text-decoration: none;
    text-transform: uppercase;
}

.homework-page__container {
    padding: 60px;
}

.homework-page__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px;
    row-gap: 40px;
}

.homework-page__item {
    display: grid;
    grid-template-columns: 100px 1fr 120px;
    grid-template-rows: 120px;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}

.homework-page__item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.homework-page__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.homework-page__uncomplete {
    background-color: #E94D35;
    height: 48px;
    width: 48px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.homework-page__complete {
    background-color: #71e935;
    height: 48px;
    width: 48px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.homework-page__complete span {
    font-size: 40px;
}

.homework-page__uncomplete span {
    font-size: 40px;
}


.homework-page__text {
    flex: 1 1 auto;
    padding: 0 10px;
}

.homework-page__image {}

.homework-page__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/