.homework-page__go-away,
.homework-page__go-away::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    -webkit-box-shadow: 6px 0px 0px #00e6f6;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

.homework-page__go-away::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    -webkit-clip-path: var(--slice-0);
    clip-path: var(--slice-0);
}

.homework-page__go-away:hover::after {
    -webkit-animation: 1s glitch;
    animation: 1s glitch;
    -webkit-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);
}

@-webkit-keyframes glitch {
    0% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-20px, -10px);
        transform: translate(-20px, -10px);
    }

    10% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }

    20% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    30% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
    }

    40% {
        -webkit-clip-path: var(--slice-2);
        clip-path: var(--slice-2);
        -webkit-transform: translate(-5px, 0px);
        transform: translate(-5px, 0px);
    }

    50% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(5px, 0px);
        transform: translate(5px, 0px);
    }

    60% {
        -webkit-clip-path: var(--slice-4);
        clip-path: var(--slice-4);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }

    70% {
        -webkit-clip-path: var(--slice-2);
        clip-path: var(--slice-2);
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    80% {
        -webkit-clip-path: var(--slice-5);
        clip-path: var(--slice-5);
        -webkit-transform: translate(20px, -10px);
        transform: translate(20px, -10px);
    }

    90% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-10px, 0px);
        transform: translate(-10px, 0px);
    }

    100% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-20px, -10px);
        transform: translate(-20px, -10px);
    }

    10% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }

    20% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    30% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
    }

    40% {
        -webkit-clip-path: var(--slice-2);
        clip-path: var(--slice-2);
        -webkit-transform: translate(-5px, 0px);
        transform: translate(-5px, 0px);
    }

    50% {
        -webkit-clip-path: var(--slice-3);
        clip-path: var(--slice-3);
        -webkit-transform: translate(5px, 0px);
        transform: translate(5px, 0px);
    }

    60% {
        -webkit-clip-path: var(--slice-4);
        clip-path: var(--slice-4);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }

    70% {
        -webkit-clip-path: var(--slice-2);
        clip-path: var(--slice-2);
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    80% {
        -webkit-clip-path: var(--slice-5);
        clip-path: var(--slice-5);
        -webkit-transform: translate(20px, -10px);
        transform: translate(20px, -10px);
    }

    90% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(-10px, 0px);
        transform: translate(-10px, 0px);
    }

    100% {
        -webkit-clip-path: var(--slice-1);
        clip-path: var(--slice-1);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    /* 60/44 */
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* 24/16 */
}

.cssbuttons-io-button {
    background: #E94D35;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #E94D35;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    letter-spacing: 2px;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #E94D35;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #E94D35;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}